.backdrop {
    
    position: fixed;
    
    width: 100vw;
    height: 100vh;
    
    left: 0;
    top: 0;
    
    background-color: rgba(0, 0, 0, .7);
    
    transition: all .2s;
    
    
}

.backdrop img {
    
    display: block;
    
    position: absolute;
    left: 50%;
    top: 50%;
    
    transform: translateX(-50%) translateY(-50%);
    
    
}