.container {
    
    display: block;
    
    width: 100%;
    height: 10rem;
    
    cursor: pointer;
    z-index: 1;
    
    transition: all .2s;
    
}

.container:hover {
    
    transform: translateX(.5rem) translateY(-.7rem);
    box-shadow: .4rem .4rem 1rem rgba(0, 0, 0, .7);
    z-index: 10;
}

.container img {
    
    display: block;
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    
}