.container {
    
    
        grid-column: full-start / full-end;
        grid-row: nav-start / nav-end;
        
        display: flex;
        
        justify-content: space-between;
        align-items: center;
   
          
}


.nav_logo,
.nav_logo:active,
.nav_logo:visited {
    
        text-decoration: none;
        
        display: block;
    
}

.nav_logo .logo {
    
        display: block;
        
        width: 100%;
    
}

.container ul{
    
        list-style: none;
        
        display: flex;
        width: 60%;
        justify-content: space-between;
        align-items: center;
        
        font-family: 'Old Standard TT', serif;
        font-size: 1.5rem;
        font-weight: bold;
        color: #3b3b3b;
    
}

.container ul a,
.container ul a:active,
.container ul a:visited{
    
    text-decoration: none;
    color: #3b3b3b;
    
    padding: .2rem 0;
    border-bottom: none;
    
    transition: all .1s;
    
    
}

.container ul a:hover {
    
    border-bottom: .1rem solid #3b3b3b;
    
}